@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;1,500&family=Work+Sans&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.primary-color{
    color: #B68C5A;
}
.jus-btn{
    color: #fff;
    font-size: 18px;
    background-color: #B68C5A;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
}

.jus-fs{
    font-size: 8px;
}



@media only screen and (max-width:576px) {
    .card h1{
        margin-top: 10px;
        font-size: 12px;
    }
    .card p{
        font-size: 8px;
        padding: 0 20px;
    }
    .jus-btn-resizeing{
        font-size: 10px;
        padding: 10px 18px;
    }
    .jus-input-resizing{
        font-size: 10px;
        padding: 10px 25px;
    }

    .jus-border-color{
        border: 1px solid #B68C5A !important;
        margin-bottom: 10px !important;
    }
}